<nav class="navbar" role="navigation" aria-label="main navigation" data-dir="{{ if $.Param "navbardir" }}{{ $.Param "navbardir" }}{{ else }}{{ $.Param "languagedir" | default "ltr" }}{{ end }}">
  <div class="navbar__brand">
    {{ if $.Param "logo" | default true }}
    <a href="{{ "https://hadageto.com" | relLangURL }}" title="{{ i18n "tooltip-home" }}" rel="home" class="{{ if eq ($.Param "logoType") "long" }}navbar__long-link{{ else }}navbar__logo-link{{ end }}">
      
      <!-- <img src="{{ "/hadageto-logo-206.png" | relURL }}" alt="Home" class="navbar__logo"> -->

      <!-- <picture>
        <source 
          srcset="{{ "/hadageto-logo-206.png" | relURL }}"
          media="(prefers-color-scheme: dark)"
        />
        <source
          srcset="{{ "/hadageto-logo-white.png" | relURL }}"
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
        />
        <img src="{{ "/hadageto-logo-white.png" | relURL }}" id="screenshot" loading="lazy" />
      </picture> -->
      <!-- <span id="screenshot" src=""></span> -->
      
<!--       
      <img src="{{ "/hadageto-logo-206.png" | relURL }}" id="screenshot" media="(prefers-color-scheme: dark)" />
      <img src="{{ "/hadageto-logo-white.png" | relURL }}" id="screenshot" media="(prefers-color-scheme: light)" /> -->
      <!-- <img src="{{ "/hadageto-logo-white.png" | relURL }}" id="screenshot" loading="lazy" /> -->

      <span class="logo-light">
        <img src="{{ "/settings-light.png" | relURL }}" alt="Home" class="navbar__logo">
      </span>
      <span class="logo-dark">
        <img src="{{ "/settings-dark.png" | relURL }}" alt="Home" class="navbar__logo">
      </span>
    </a>
    {{ else }}
    &nbsp;&nbsp;
    {{ end }}
    {{ if ne .Site.Params.logoType "long" }}
      <a href="{{ "https://hadageto.com" | relLangURL }}" title="{{ i18n "tooltip-home" }}" rel="home" class="navbar__title-link">
        <h6 class="navbar__title">{{ .Site.Params.logoText }}</h6>
      </a>
    {{ end }}
  </div>
  
  {{ partial "navbar/nav-menu-mobile" . }}
  {{ partial "navbar/nav-menu" . }}
</nav>
