/* @font-face {
  font-family: 'Avenir';
  src: url('Avenir-Book-01.ttf') format('ttf'),
       url('Avenir-Heavy-05.ttf') format('ttf'),
       url('Avenir-Light-07.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family:"Avenir";
  src:url("/fonts/Avenir-Heavy-05.ttf") format("truetype");
  font-weight:bolder;
  font-style:normal
}
@font-face{
  font-family:"Avenir";
  src:url("/fonts/Avenir-Heavy-05.ttf") format("truetype");
  font-weight:800;
  font-style:normal
}
  @font-face{
    font-family:"Avenir";
    src:url("/fonts/Avenir-Light-07.ttf") format("truetype");
    font-weight:lighter;
    font-style:normal
  }
  @font-face{
    font-family:"Avenir";
    src:url("/fonts/Avenir-Book-01.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
  }
  @font-face{
    font-family:"Avenir";
    src:url("/fonts/Avenir-Book-01.ttf") format("truetype");
    font-weight:400;
    font-style:normal
  } */

  
/* Avenir */

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Book-01.ttf') format('ttf'),
       url('../fonts/Avenir-Heavy-05.ttf') format('ttf'),
       url('../fonts/Avenir-Light-07.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family:"Avenir";
  src:url("../fonts/Avenir-Heavy-05.ttf") format("truetype");
  font-weight:bolder;
  font-style:normal
}
@font-face{
  font-family:"Avenir";
  src:url("../fonts/Avenir-Heavy-05.ttf") format("truetype");
  font-weight:800;
  font-style:normal
}
  @font-face{
    font-family:"Avenir";
    src:url("../fonts/Avenir-Light-07.ttf") format("truetype");
    font-weight:lighter;
    font-style:normal
  }
  @font-face{
    font-family:"Avenir";
    src:url("../fonts/Avenir-Book-01.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
  }
  @font-face{
    font-family:"Avenir";
    src:url("../fonts/Avenir-Book-01.ttf") format("truetype");
    font-weight:400;
    font-style:normal
  }



  
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /* font-size: 20px; */
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-linkedin:before { content: "\f103"; }

.flaticon-menu:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }

body, {
  font-family: "Avenir" !important;
}
.wrapper{
  max-width: 100% !important;
  padding: 0px 20px;
  grid-template-rows: 72px auto 1fr auto;
  font-family: "Avenir" !important;
}
.main {
  padding-bottom: 50px;
}
.sidebar-recent__title, .sidebar-recent__a, .taxo__title, .single__contents h1, .single__contents h2, .single__contents h3, .single__contents h4, .single__contents h5, .single__contents h6, .single__title, .breadcrumb, .list__header, .terms__title, .breadcrumb{
  font-family: "Avenir" !important;
}
.single__title, .single__contents h2 {
  font-family: "Avenir" !important;
  font-weight: 800;
}
.navbar {
  padding: 12px 20px 5px;
  background: #fff;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,0.3);
  height: auto;
}
.navbar__brand {
  height: auto;
}
.navbar__long-link{
  width: auto;
  padding: 0px;
  height: auto;
}




.sidebar-cta {
  position: fixed;
  font-size: 15px;
  max-width: 250px;
}
.toc.cta{
  top: 17rem;
}
.toc__flexbox.cta{
  top: 14rem;
  position: fixed;
}
.toc__flexbox.cta .toc__title {
  margin-top: .75rem;
  margin-left: .5rem;
}
.main-single
{
  grid-template-columns: 1fr 1fr 266px;
  max-width: 1280px;
  margin: 0px auto;
}

.inner.width1280{
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}
.wrapper__right {
  display: none;
}

.footer {
  margin: 0px -20px;
  padding: 0px;
  display: grid;
}

.main-footer .main-container .links ul.right li:last-child{
  margin-top: 26px;
}

.site-container {
  max-width: 1280px;
  min-width: 225px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.main-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #cccccc;
}
.site-wrapper {
  padding: 40px 20px;
  position: relative;
  zoom: 1;
}

.main-footer .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}
.main-footer .logo-container p {
  color: #f12622;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}

.main-footer .main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-footer .main-container .links {
  display: flex;
}
.main-footer .main-container .links ul {
  margin: 0;
  padding: 0;
  width: 200px;
}
.main-footer .main-container .links ul li {
  list-style: none;
  margin: 0 0 0px 0;
}

.main-footer .main-container .links ul li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all transition linear;
  transition: all 200ms linear;
  font-size: 15px;
  color: #2b2b2b;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.social li {
  display: inline-block;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0 0 0 15px;
  font-size: 22px;
}
.social li a {
  text-decoration: none;
}
.bottom-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
}
.bottom-footer p {
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.bottom-footer span {
  font-weight: 800;
}

.summary-classic .title a{
  color: #2b2b2b;
  font-weight: 600;
  font-family: "Avenir" !important;
  font-size: 1rem;
}

.theme__light .single__contents h1, .theme__light .single__contents h2, .theme__light a{
  color: #2b2b2b !important;
}
.mob-nav {
  display: none !important;
}
.mob-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
    align-items: center;
}
.mob-nav .navbar__burger {
  position: relative;
  margin: 0px auto 0px 10px;
  background: transparent;
  border: 0px;
  width: 60px;
}

.login {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  font-size: 14px;
  transition: all 300ms linear;
  font-family: 'Avenir', sans-serif;
}
.mob-nav .solid-button {
  border-radius: 4px;
  padding: 0 5px;
  height: 34px;
  font-size: 14px;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 180px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all transition linear;
  transition: all 200ms linear;
  font-family: 'Avenir', sans-serif;
} 
.mob-nav .solid-button.red {
  background: #f12622;
  color: #fff !important;
  margin: 0px 8px ;
}
.mob-nav .social a svg{
  width: 26px;
}
.mob-nav .footer__social{
  margin-left: 8px;
}
.mob-nav .social a {
  margin-left: 15px;
  font-size: 22px;
}
.mob-nav .social a:first-child {
  margin-left: 10px;
}
 .social a:nth-child(2){
  order: 2;
}
 .social a:nth-child(3){
  order: 3;
}
.navbar__burger span {
  width: 21px;
}
.footer__link{
  margin: 0px;
}

.footer .social, .footer   .footer__social{
  margin-top: 0px;
  padding-top: 0px;
  
}

.navbar--hide{
  top: -70px;
}

/**** Light Theme Css */
.theme__light .navbar {
  background: #fff;
}
.theme__light .navbar__slide-down, .theme__light .navbar__menu-item {
  background-color: transparent !important;
  border: 0px !important;
  color: #2b2b2b;
  font-weight: 600;
  font-family: "Avenir" !important;
}
.theme__light .navbar__menu-item.active{
  
  color: #2b2b2b !important;
}
.navbar__menu{
  justify-content: flex-start;
  padding-left: 15px;
}

.theme__light .wrapper {
  background-color: #ffffff;
}


 .footer .social a[title="instagram"]{
  display: none;
}
.theme__light figcaption{
  color: #000;
}
 .footer .social a{
  margin-left: 15px;
}
 .toc[data-dir=ltr] ul li li{
  margin-top: 20px;
}

.theme__light .footer .social a:hover{
  color: #124994 !important;
}

/* .theme__dark .logo-light{
  display: none;
}

.theme__light .logo-light{
  display: block;
} */

/**** Dark Theme Css */
.theme__dark a, .theme__dark .toc[data-dir=ltr][data-folding=false] a.active {
  color: #ffffff;
}
.theme__dark .toc[data-dir=ltr][data-folding=false] a.active::before {
  background-color: #ffffff;
}
.theme__dark .navbar {
  background: #212121;
  border-bottom: 1px solid #212121;
}
.theme__dark .summary-classic .title a, .theme__dark .summary-classic .title a:hover, .theme__dark .summary-classic .title a:active, .theme__dark .summary-classic .title a:focus{
  color: #fff;
}
.theme__dark .navbar__menu-item {
  color: #fcfcfa;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #212121;
  background-color: #212121 !important;
}
.theme .dropdown-trigger{
  height: 50px;
}
.theme__dark .navbar__burger span{
  background-color: #000; 
}
/* .theme__dark .logo-dark{
  display: block;
}

.theme__light .logo-dark{
  display: none;
} */

.theme__dark .breadcrumb li a{
  color: #fff;
}

.theme__dark .single__contents h1, .theme__dark .single__contents h2, .theme__dark .related__link, .theme__dark .breadcrumb li+li:before {
  color: #fff;
}
.theme__dark .navbar__menu-item:hover, .theme__dark .navbar__menu-item:active, .theme__dark .navbar__menu-item:focus, }
.theme__dark .navbar__dropdown--item:hover, .theme__dark .navbar__dropdown--item:active, .theme__dark .navbar__dropdown--item:focus {
  color: #fff !important;
}
.theme__dark .navbar__dropdown--item:hover, .theme__dark .navbar__dropdown--item:active, .theme__dark .navbar__dropdown--item:focus, .theme__dark .navbar__menu-item:hover, .theme__dark .navbar__menu-item:active, .theme__dark .navbar__menu-item:focus{

  color: #ffffff !important;
}
.theme__dark .breadcrumb li a:hover, .theme__dark .breadcrumb li a:active, .theme__dark .breadcrumb li a:focus {
  color: #ffffff !important;
}
.theme__dark .navbar__menu-item:hover, .theme__dark .navbar__menu-item:active, .theme__dark .navbar__menu-item:focus{
  border: 0px;
}
.theme__dark .navbar__menu-item.active{
  color: #fff !important;
  text-decoration: underline;
}
.theme__dark .sidebar-recent__title, .theme__dark .taxo .is-tags, .theme__dark .taxo .is-categories, .theme__dark a:hover, .theme__dark a:active, .theme__dark a:focus, .theme__dark .sidebar-recent__title:hover {
  color: #fff;
}

.theme__dark input:checked+.slider{
  background-color: #fff;
}
.theme__dark .slider:before{
  background-color: #212121;
}
.theme__dark .footer{
  background-color: #212121;
}
.theme__dark .main-footer{
  background-color: #212121;
}
.theme__dark  .main-footer .main-container .links ul li a{
  color: #ffffff;
}
.theme__dark .bottom-footer{
  background: #2d2a2e;
}
.theme__dark .bottom-footer p {
  color: #cacaca;
}



@media only screen  and (max-width: 767px) {
  .mob-nav {
    display: flex !important;
  }
  .list__main.lmr{
    grid-area: 1/1/1/6;
  }
  .main-footer .logo-container{
    flex-direction: column;
  }
  .main-footer .logo-container p {
    font-size: 18px;
  }
  .main-footer .main-container .links {
    display: block !important;
    width: 100%;
  }
  .main-footer .main-container .links ul{
    width: 100%;
    margin-bottom: 15px;
  }
  .navbar__brand{
    max-width: 130px;
  }
  .navbar__long-link{
    max-width: 100%;
  }

  .mob-nav .solid-button,  .mob-nav  .login{
    display: none;
  }
  .single__main.lm.main{
    grid-area: 1/1/2/4;
  }
  .navbarm__collapse{
    top: 70px;
  }

  .mob-nav .social a {
      margin-left: 10px;
      font-size: 20px;
  }
  .navbar__burger{
    width: 30px !important;
  }
  .mob-nav .footer__social{
    margin-left: 0px !important;
    margin-right: 30px;
  }
  .theme-mobile{
    right: 0px;
    top: 10px;
  }
  .theme .dropdown-trigger {
    height: 40px;
    width: 32px;
  }
}

@media only screen   and (min-device-width: 768px)    and (max-device-width: 992px) {
  .single__main.lm.main{
    grid-area: 1/1/2/4;
  }
  
  .mob-nav {
    display: flex !important;
  }
  
  .navbarm__collapse{
    top: 70px;
  }
}



@media (max-width: 860px) {
  .footer__social{
    padding: 0px;
  }
  
  .main-footer .logo-container {
    display: block;
    text-align: center;
  }
  .main-footer .logo-container img {
    margin: 0 auto 5px auto;
    max-width: 190px;
  }
  .main-footer .logo-container p {
    font-size: 20px;
    line-height: 23px;
  }
  .main-footer .main-container {
    justify-content: center;
  }
  .main-footer .main-container .social {
    order: 1;
  }
  .main-footer .main-container .social li {
    margin: 0 7px;
  }
  .main-footer .main-container .links {
    width: 100%;
    order: 2;
    flex-wrap: wrap;
    text-align: center;
  }
  .main-footer .main-container .links ul {
    width: 100%}
  .main-footer .main-container .links ul li {
    margin: 0 5px;
    display: inline-block;
  }
  .bottom-footer {
    text-align: center;
  }
  .main-footer .logo-container{
    margin-bottom: 0px;
  }
}



@media (max-width: 1090px) {

  .navbar__menu {
    display: none;
}
.mob-nav {
  display: flex !important;
}
.navbarm__collapse{
  top: 70px;
}

.navbar__burger {
  cursor: pointer;
  margin-left: auto;
  height: 50px;
  width: 35px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.navbar__burger span {
  border-radius: 1rem;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color,opacity,transform;
  transition-timing-function: ease-out;
  z-index: 15;
  width: 21px;
  background-color: #777;
}
.navbar__burger span:nth-child(1) {
  top: calc(50% - 6px);
}
.navbar__burger span:nth-child(3) {
  top: calc(50% + 4px);
}
  .mobile-nav-open-tigger {
  display: block;
}
.mobile-nav-container {
  display: flex;
}
.desktop-nav {
  display: none;
}
#header .create-account.desktop {
  margin-left: 15px;
}

.navbar__burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar__burger.is-active span:nth-child(1) {
  transform: translateY(5px)rotate(45deg);
}
.navbar__burger.is-active span:nth-child(3) {
  transform: translateY(-5px)rotate(-45deg);
} 


  .theme-mobile{
    right: 0px;
    top: 12px;
  }
  .theme .dropdown-trigger {
    height: 40px;
    width: 32px;
  }
  .mob-nav .footer__social{
    margin-right: 25px;
  }


}


/* 
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: red;
    color: #fff;
  }
}
*/
/* 
@media screen and (prefers-color-scheme: dark) {
  .logo-dark{
    display: block !important;
  }
  .logo-light{
    display: light !important;
  }
  
   .footer{
      background-color: #212121 !important;
    }
  .main-footer{
    background-color: #212121;
  }
   .main-footer .main-container .links ul li a{
    color: #ffffff;
  }
  .bottom-footer{
    background: #2d2a2e;
  }
   .bottom-footer p {
    color: #cacaca;
  }

}  */
/* 
@media (prefers-color-scheme: dark) {
  .logo-dark{
    display: block !important;
  }
  .logo-light{
    display: none !important;
  }

}


@media (prefers-color-scheme: light) {
  .logo-dark{
    display: none !important;
  }
  .logo-light{
    display: block !important;
  }

} */
/* 
html[data-theme='dark']  .logo-dark{
  display: block !important;
}


html[data-theme='dark']  .logo-light{
  display: light !important;
} */

:root {
  --demo-color-scheme-block-background: pink;
  --demo-color-scheme-block-text-color: red;
  --logo-dark-display: block;
  --logo-light-display: none;
  --main-footer-background: #212121;
  --taxo-num-background: #212121;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --demo-color-scheme-block-background: white;
    --demo-color-scheme-block-text-color: black;
    --logo-dark-display: none;
    --logo-light-display: block;    
    --main-footer-background: #cccccc;
    --taxo-num-background: #c8c8c8;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --demo-color-scheme-block-background: black;
    --demo-color-scheme-block-text-color: white;
    --logo-dark-display: block;
    --logo-light-display: none;
    --main-footer-background: #212121;    
    --taxo-num-background: #212121;
  }
}

.demo-color-scheme-block {
  background: var(--demo-color-scheme-block-background);
  color: var(--demo-color-scheme-block-text-color);
}

.logo-dark{
  display: var(--logo-dark-display); 
}
.logo-light{
  display: var(--logo-light-display); 
}

.main-footer{
  background: var(--main-footer-background);
}

.taxo__num {
  background-color: var(--taxo-num-background) !important;
}
}