<footer class="footer">
  {{ partial "footer/go-to-top" . }}
    <div class="main-footer site-wrapper">
        <div class="site-container">
          <div class="logo-container">
            <span class="logo-light">
              <img src="{{ "/hadageto-logo-206.png" | relURL }}" alt="Hadageto" class="navbar__logo">
            </span>
            <span class="logo-dark">
              <img src="{{ "/hadageto-logo-white.png" | relURL }}" alt="Hadageto" class="navbar__logo">
            </span>
            <p>Keeping you in control of your important documents</p>
          </div>
          <div class="main-container">
            <div class="links">
                <ul>
                    {{ range $.Param "footerLinks" }}
                    <li>
                        <a href="{{ .link }}" class="footer__link" target="_blank" rel="noreferrer">{{ .name }}</a>
                    </li>
                     
                    {{ end }}
                </ul>
                <ul class="right">
                    {{ range $.Param "footerLinksCol2" }}
                        <li>
                            <a href="{{ .link }}" class="footer__link" target="_blank" rel="noreferrer">{{ .name }}</a>
                        </li>
                     
                    {{ end }}
                </ul>
              
            </div>
            <ul class="social">
                
                {{ partial "footer/links-social.html" . }}
            
            </ul>
          </div>
        </div>
      </div>

      <div class="bottom-footer site-wrapper">
        <div class="site-container">
          <p>{{ $.Param "footerBottom" | safeHTML }}</p>
        </div>
      </div>
</footer>