{{ if $.Param "enableGoToTop" }}
<div id="gtt">
  <div class="gtt">
    {{ partial "svgs/arrow/keyboard-arrow-up.svg" (dict "width" 32 "height" 32) }}
  </div>
</div>
{{ end }}
<!-- 
<script>
  const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

  const userPrefersLight = window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches;

  if(userPrefersDark){
      console.log("User prefers a dark interface");
  }
</script> -->

<script type="text/javascript">


// if (localStorage.getItem('mode') === 'dark' ){
//   console.log("dark");
// }


// if (localStorage.getItem('mode') == 'light' ){
//   console.log("light mode");
// }

// if (window.matchMedia('(prefers-color-scheme: light)').matches){
//   console.log("light");
// }

// document.addEventListener('DOMContentLoaded', (event) => {
//   ((localStorage.getItem('mode') || 'dark') === 'dark') ? document.querySelector('body').classList.add('theme__dark1') : document.querySelector('body').classList.remove('theme__dark')
// })




// document.addEventListener('DOMContentLoaded', (event) => {
//   ((localStorage.getItem('mode') || 'light') === 'light') ? document.querySelector('body').classList.add('theme__light') : document.querySelector('body').classList.remove('theme__light')
// })


  // var checkbox = document.querySelector('input[name=mode]');

  //        checkbox.addEventListener('change', function() {
  //            if(this.checked) {
  //                trans()
  //                document.documentElement.setAttribute('data-theme', 'dartheme')
  //            } else {
  //                trans()
  //                document.documentElement.setAttribute('data-theme', 'lighttheme')
  //            }
  //        })

  //        let trans = () => {
  //            document.documentElement.classList.add('transition');
  //            window.setTimeout(() => {
  //                document.documentElement.classList.remove('transition');
  //            }, 1000)
  //        }
 </script>